extends ./layout.jade

block content
  h1= title
  input(ng-model="searchGuy")
  #articles(ng-init="articles= #{JSON.stringify(articles)}")
    div.article(ng-repeat="article in articles | filter: searchGuy")
      div.created_at {{article.created_at}}
      div.title 
        a(href="/blog/{{article._id}}") {{article.title}}
      div.body {{article.body}}
    a(href="/blog/new")
      button New