doctype
html(ng-app='bawss',lang = "en")
  head
    title= title
    link(rel='stylesheet', type='text/css', href='/stylesheets/style.css')
  body
    block content
    script(type='text/javascript', src='/js/vendor/angular.js')
    script(type='text/javascript', src='/js/app.js')